<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ligas</title>
    <link rel="stylesheet" type="text/css" href="../home/home.component.css">
</head>
<body class="body">
    <ul>
        <li><a>Torneo deportivo</a></li>
        <li><a href="#news">Estadisticas</a></li>
        <li><a href="#contact">Torneos</a></li>
        <li style="float:right" class="active"><a href="#about">Perfil</a></li>
      </ul>
      <div class="contenedor">
          <div class="caja caja1">
              <div class="boton">
                <button type="button">Torneos</button>
            </div>
          </div>
        <div class="caja caja2">
            <div class="boton">
                <button type="button">Usuarios</button>
            </div>
            </div>
            <div class="caja caja3">
                <div class="boton">
                    <button type="button">Historial</button>
                </div>
                </div>
                <div class="caja caja4">
                    <div class="boton">
                        <button type="button">Estadisticas</button>
                    </div>
                    </div>
        </div>
</body>